body {background:#e8e8e8;}
input {
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius:5px;
}
#id, #pw, #name, #phone {
	display:block;
}
.join {width:300px; margin:0 auto; padding: 30px 60px 50px; background:#fff; }
.join p {margin-bottom:20px;}
.join p > span {margin:0 40px 0 10px;}
.lo {display:inline-block; margin-bottom:6px;}
p select {width:100px; border-radius:2px;}
.join .tit {
	text-align:center; font-size:30px; font-weight:bold; background:#9e9374; color:#fff; 
	border-radius:2px; margin-bottom:30px; letter-spacing:10px; padding-top:4px;
}